<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dasboard Perangkat Desa</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container">
            <ul>
                <li><a href="/">Beranda</a></li>
                <li><a href="/statistik_desa">Statistik Desa</a></li>
                <li><a href="/kegiatan_desa">Kegiatan Desa</a></li>
                <li><a href="/pengaduan">Pengaduan</a></li>
            </ul>
            <center><h1>Selamat Datang di Website Desa</h1></center>
                <center><img src="../assets/set1.jpg" width="80" height="200"></center>
        </div>
    </header>

        <!-- Sejarah Desa -->
        <div class="section">
            <div class="container">
                <center><h3>Sejarah Desa</h3></center>
                    <div class="box">
                        <p text-align: justify>Kecamatan Labuhanhaji merupakan Kecamatan induk dari pemekaran Labuahanhaji Barat dan Labuhanhaji yang dilakukan pemekaran pada tahun 2003 terdiri dari 3 (tiga) kemukiman dan 16 (enam belas) gampong, 51 (lima puluh satu) dusun, dengan luas wilayah 4.374.00 Ha yang terdiri dari kawasan pantai, dataran rendah dan dataran tinggi. Mayoritas penduduk bermata pencaharian sebagai petani, dan sebagian yang lain berprofesi sebagai nelayan, pedagang, Pegawai Negeri Sipil. Dalam bidang pendidikan rata-rata penduduk Kecamatan Labuhanhaji telah mengenyam pendidikan yang tersebar dari jenjang pendidikan pra sekolah hingga perguruan tinggi. 
                            Ditinjau dari bidang sosial budaya, masyarakat Kecamatan Labuhanhaji 100 % menganut agama Islam dan mendukung pelaksanaan syariat Islam sebagai salah satu keistimewaan Provinsi Aceh. Bahasa Aneuk Jame merupakan sebagai bahasa pengantar sehari-hari yang secara turun menurun telah menyatu dalam satu budaya yang tidak dapat dipisahkan.
                            Desa di Kecamatan Labuhanhaji sebanyak 16 (enam belas) dan 3 (tiga) Kemukiman, yaitu: Kemukiman Padang Bakau, Kemukiman Pawoh Apha dan Kemukiman Pisang Baru.
                            Berdasarkan Peraturan Bupati Aceh Selatan nomor 14 Tahun 2008 tentang Uraian Tugas Jabatan Struktural pada Organisasi dan Tata Kerja Kecamatan dalam Kabupaten Aceh Selatan, Kecamatan Labuhanhaji Kabupaten Aceh Selatan adalah wilayah kerja Camat sebagai perangkat daerah Kabupaten Aceh Selatan yang berada dibawah dan bertanggung jawab kepada Bupati Aceh Selatan melalui Sekretaris Daerah.
                            Kecamatan merupakan sebuah Satuan Kerja Perangkat Kabupaten (SKPK) sebagaimana yang diamanatkan dalam Peraturan Pemerintah nomor 08 Tahun 2008 tentang Tahapan, Tata cara Penyusunan Evaluasi Pelaksanaan Rencana Pembangunan Daerah. Sesuai Peraturan Bupati Aceh Selatan nomor 14 Tahun 2008, Camat mempunyai tugas melaksanakan wewenang Pemerintah yang dilimpahkan oleh Bupati untuk menangani sebagian urusan otonomi daerah.
                            Untuk dapat menjalankan tugas yang telah dibebankan, Kecamatan Labuhanhaji Kabupaten Aceh Selatan dipimpin oleh Camat yang dibantu oleh satu Sekretaris Kecamatan, lima Seksi dan tiga sub bagian.</p>
                    </div>
            </div>
        </div>

        <!-- Visi-Misi -->
        <div class="section">
            <div class="container">
                <center><h3>Visi-Misi</h3></center>
                    <div class="card">
                        <p text-align: justify>
                            
                        </p>
                    </div>
            </div>
        </div>

        <!-- Stuktur Organisasi
        <div class="section">
            <div class="container">
                <center><h3>Stuktur Organisasi</h3></center>
                    <div class="box">
                       
                    </div>
            </div>
        </div> -->
</body>

</html>