<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dasboard Perangkat Desa</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container">
            <ul>
                <li><a href="/">Beranda</a></li>
                <li><a href="/statistik_desa">Statistik Desa</a></li>
                <li><a href="/kegiatan_desa">Kegiatan Desa</a></li>
                <li><a href="/pengaduan">Pengaduan</a></li>
            </ul>
            <center><h1>Kegiatan Desa</h1></center>
        </div>
    </header>

        <!-- Sejarah Desa -->
        <div class="section">
            <div class="container">

            </div>
        </div>
</body>

</html>